core.Microsoft*
core.mongo*
core.python*
__pycache__/
*.py[cod]
env.py
app2-json-old.py
app3-before-delete.py
items.json
users.json
item_notfound.template.html
login.template.html
register.template.html