/* Common CSS */
body {
  /* background-color: antiquewhite; */
  font-family: "Ubuntu", sans-serif;
  color: #1a191b;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/static/img/bg-body.jpg");
}

.frame {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgba(244,250,255,0.7);
    padding: 1.5rem;
    border-radius: 25px;
}


.header-font, h1, h2, h3, h4, h5, h6 {
  font-family: "Fredoka One", cursive;
}

/* Button CSS */
.bt-big {
  background-color: rgba(148, 199, 235, 0.7);
  color: #1a191b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bt-big:hover {
  background-color: rgba(255, 112, 138, 0.7);
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bt {
  background-color: rgba(148, 199, 235);
  color: #1a191b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bt:hover {
  background-color: rgba(255, 112, 138);
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* navbar css */
.navbar {
  background-color: #94c8e9 !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0.1rem 1rem
}

#logo {
    width: 3.5rem;
}

#search-button {
  background-color: rgba(244,250,255,0.7);
  color: #1a191b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#search-button:hover {
  background-color: rgba(255, 112, 138);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#search-bar {
  background-color: rgba(244,250,255,0.7);
}

/* Home.template CSS */
.jumbotron-image {
    /* padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem); */
    background: linear-gradient(rgba(184,219,245, 0.8), rgba(184,219,245, 0.8)), url("/static/img/child.jpg");
    background-position: center;
    /* background-repeat: no-repeat;
    background-attachment: scroll; */
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* height: 100vh; */
}