body {
    background-color: antiquewhite
}

a.header-font {
    font-family: 'Fredoka One', cursive;
}

a.content-font {
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #94c8e9!important;
}

