{% extends 'base.template.html' %}

{% block title %} Browse items {% endblock %}

{% block content %}

<div class="container">

    <div class="row mt-5 justify-content-center text-center">
        <div class="col-8 text-center">
            <h1>Browse Items</h1>
        </div>
    </div>

    <div class="row justify-content-center text-center">
    {% for item in items_stored %}
        <div class="col-10 bg-secondary mt-3">
            <h4>{{item.name}}</h4>
        </div>
        <div class='col-10 bg-secondary'>
            <a href="{{ url_for('view_item_details', item_id=item._id) }}">{{item.description}}</a>
        </div>
        <div class='col-10 bg-secondary mb-3'>
            <p>Posted on <b>{{item.date}}</b></p>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock %}