{% extends 'base.template.html' %}

{% block title %}
Edit Item
{% endblock %}

{% block content %}

<div class="container">
    <div class="my-5" id="edit-form">
        <!-- Page title -->
        <div class='row text-center'>
            <div class="col">
                <h1>Edit Item</h1>
            </div>
        </div>


        <div class='row'>
            <div class="col">
            <!-- Start of Form -->
                <form method="POST">

                    <div class='row'>
                        <div class="col-sm-6">
                        <!-- Form input Field 1 -->
                            <div class="form-group">
                                <h5><label class="form-check-label">Submitted by</label></h5>
                                <input class="form-control" type="text" name="nickname" placeholder="Enter nickname" value="{{ item.nickname }}"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- Form input Field 2 -->
                            <div class="form-group">
                                <h5><label class="form-check-label">Contact</label></h5>
                                <input class="form-control" type="text" name="email" placeholder="Enter email" value="{{ item.email }}"/>
                            </div>
                        </div>
                    </div>
                
                    <!-- Form input Field 3 -->                    
                    <div class="form-group">
                        <h5><label class="form-check-label">Item name </label></h5>
                        <input class="form-control" type="text" name="item_name" value="{{item.name}}">
                    </div>
                    
                    <!-- Form input Field 4 -->                    
                    <div class="form-group">
                        <h5><label class="form-check-label">Description </label></h5>
                        <input class="form-control" name="description" value="{{item.description}}">
                    </div>

                    <!-- Form input Field 5 -->                    
                    <div class="form-group">
                        <h5><label class="form-label">Item type: </label></h5>
                        <select class="custom-select" name="item_type">
                            <option selected disabled>Please select</option>
                            <option value="Toys" {% if item.item_type == 'Toys' %} selected {% endif %}>Toys & Playthings</option>
                            <option value="Clothes" {% if item.item_type == 'Clothes' %} selected {% endif %}>Clothes & Wardrobe</option>
                            <option value="Maternity" {% if item.item_type == 'Maternity' %} selected {% endif %}>Maternity (E.g. Pumps, Nursing pads)</option>
                            <option value="Accessories"{% if item.item_type == 'Accessories' %} selected {% endif %}>Accessories (E.g. Strollers, Car seats)</option>
                            <option value="Others" {% if item.item_type == 'Others' %} selected {% endif %}>Others</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form input Field 6 -->
                            <div class="form-group">
                                <h5>Age Range:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="age" id="infant" value="Infant (Newborn - 1 year)" {% if item.age == 'Infant (Newborn - 1 year)' %} checked {% endif %}/>
                                    <label class="form-check-label" for="infant">Infant (Newborn - 1 year)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="age" id="toddler" value="Toddler (1 - 2 years)" {% if item.age == 'Toddler (1 - 2 years)' %} checked {% endif %}/>
                                    <label class="form-check-label" for="toddler">Toddler (1 - 2 years)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="age" id="preschooler" value="Preschooler (2 - 5 years)" {% if item.age == 'Preschooler (2 - 5 years)' %} checked {% endif %} />
                                    <label class="form-check-label" for="preschooler">Preschooler (2 - 5 years)</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- Form input Field 7 -->
                            <div class="form-group">
                                <h5>Item Condition</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="condition" id="new" value="New" {% if item.condition == 'New' %} checked {% endif %}>
                                    <label class="form-check-label" for="new">New</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="condition" id="like-new" value="Like New" {% if item.condition == 'Like New' %} checked {% endif %}>
                                    <label class="form-check-label" for="like-new">Like New</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="condition" id="used" value="Used" {% if item.condition == 'Used' %} checked {% endif %}>
                                    <label class="form-check-label" for="used">Used</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Picture upload function currently hidden - for future development -->
                    <div class="input-group" hidden>
                        <h5>Upload Image</h5>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="imageAddon">Upload</span>
                        </div>
                        <div class="ml-1 custom-file">
                            <input type="file" class="custom-file-input" id="image">
                            <label class="custom-file-label" for="image">Choose file</label>
                        </div>
                    </div>

                    <!-- Form input Field 8 -->
                    <div class="form-group">
                        <h5><label class="form-label">Delete after: </label></h5>
                        <select class="custom-select" name="delete_after">
                            <option selected disabled>Please select</option>
                            <option value="1 Month" {% if item.delete == '1 Month' %} selected {% endif %}>1 Month</option>
                            <option value="3 Months" {% if item.delete == '3 Months' %} selected {% endif %}>3 Months</option>
                            <option value="1 Week" {% if item.delete == '1 Week' %} selected {% endif %}>1 Week</option>                        
                        </select>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Submit" class="btn bt"/>
                    </div>
                </form>
                <!-- End of form -->
            </div>
        </div>
    </div>
</div>

{% endblock %}