{% extends 'base.template.html' %}

{% block title %} GiftKids {% endblock %}

{% block content %}

<div class="container">
        <div class="jumbotron jumbotron-image mt-5">
            <h1 class="display-4">Welcome to GiftKids!</h1>
            <p class="lead">A simple site to look for things you need, or to give away.</p>
            <hr class="my-4">
            <h6>Sharing, Giving, Supporting.</h6>
            <p>Do look around, search for items, or submit your item for donation. Cheers!</P>
        </div>
</div>

<div class="container">
    <div class="row mt-5 justify-content-center align-items-center">
        <div class="col-md-6 text-center">
                <!-- <a class="col" href="{{ url_for('register') }}">
                    <button type="button" class="bt-big btn btn-lg btn-block">Become a Gifter</button>
                </a> -->
                <!-- <a class="col" href="{{ url_for('login') }}">
                    <button type="button" class="bt-big btn btn-lg btn-block">Post Gifts</button>
                </a> -->
                <a class="col" href="{{ url_for('browse_items') }}">
                    <button id="browse-button" type="button" class="btn btn-lg btn-block">Browse All</button>
                </a>
                <a class="col" href="{{ url_for('show_search') }}">
                    <button id="search-page-button" type="button" class="btn btn-lg btn-block">Item Search</button>
                </a>
                <a class="col" href="{{ url_for('show_post_items') }}">
                    <button id="submit-button" type="button" class="btn btn-lg btn-block">Submit New Item</button>
                </a>
                <a class="col" href="{{ url_for('item_list') }}">
                    <button id="update-delete-button" type="button" class="btn btn-lg btn-block">Update or Remove Entry</button>
                </a>
        </div>
    </div>
</div>



{% endblock %}