{% extends 'base.template.html' %}

{% block title %} GiftKids {% endblock %}

{% block content %}

<div class="row mt-5 justify-content-center align-items-center">
    <div class="col-lg-8 text-center">
            <a class="mx-3" href="{{ url_for('register') }}">
                <button type="button" class="bt-big btn btn-lg btn-block">Become a Gifter</button>
            </a>
            <a class="mx-3" href="{{ url_for('login') }}">
                <button type="button" class="bt-big btn btn-lg btn-block">Post Gifts</button>
            </a>
            <a class="mx-3" href="{{ url_for('browse_items') }}">
                <button type="button" class="bt-big btn btn-lg btn-block">Browse Items</button>
            </a>
            <a class="mx-3" href="{{ url_for('show_post_item') }}">
                <button type="button" class="bt-big btn btn-lg btn-block">Post Items</button>
            </a>
    </div>
</div>


{% endblock %}