{% extends 'base.template.html' %}

{% block title %} Item details {% endblock %}

{% block content %}

{{item}}

{% for item in item %}
<div class="container">
    <div class="row mt-5 justify-content-center text-center">
        <div class="col-8 text-center">
            <h1>{{item.name}}</h1>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-10 bg-secondary my-3">
            {{item.photo}}
        </div>
        <div class='col-10 bg-secondary mb-3'>
            <p>Posted by <b>{{item.user}}</b> on <b>{{item.date}}</b>.</p>
        </div>
        <div class='col-10 bg-secondary mb-3'>
            <h5>Description</h5>
            <p>{{item.description}}</p>
        </div>
        <div class='col-10 bg-secondary mb-3'>
            <h5>Age Range</h5>
            <p>{{item.age}}</p>
        </div>
        <div class='col-10 bg-secondary mb-3'>
            <h5>Condition</h5>
            <p>{{item.condition}}</p>
        </div>
        <div class='col-10 bg-secondary mb-3'>
            <button type="button" class="btn btn-info">Contact seller</button>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}