{% extends 'base.template.html' %}

{% block title %} Item Listings {% endblock %}

{% block content %}

<div class="container">
    <h1>Item Listings</h1>

    {% for item in all_items %}
    <div class="row justify-content-center align-items-center text-center mx-2">
        <div class="col-3 bg-secondary my-3">
            {{item.photo}}
        </div>
        <div class="col-9 bg-secondary mt-3">
            <h5>{{item.name}}</h5>
        </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mx-2">
        <div class='col bg-secondary mb-3'>
            <p>Posted: <b>{{item.date}}</b></p>
        </div>
    </div>
    <div>
        <a href="{{ url_for('edit_items', item_id=item._id) }}" class="btn btn-primary">Edit</a>
        <a href="{{ url_for('delete_items', item_id=item._id) }}" class="btn btn-danger">Delete</a>
    </div>
    {% endfor %}
</div>

{% endblock %}