{% extends 'base.template.html' %}

{% block title %}
Post Item
{% endblock %}

{% block content %}

<h1>Add new item</h1>
<form method="POST">
    <div>
        <label class="form-label">Item name: </label>
        <input type="text" name="item_name" class="form-control" placeholder="Enter item name"/>
    </div>
    <div>
        <label class="form-label">Description: </label>
        <textarea name="description" class="form-control" row="3" placeholder="Enter item description"></textarea>
    </div>
    <div>
        <label class="form-label">Age Range: </label>
        <input type="radio" name="age" id="infant" value="Infant (Newborn - 1 year)"/>Infant (Newborn - 1 year)
        <input type="radio" name="age" id="toddler" value="Toddler (1 - 2 years)"/>Toddler (1 - 2 years)
        <input type="radio" name="age" id="preschooler" value="Preschooler (2 - 5 years)"/>Preschooler (2 - 5 years)
    </div>
    <div>
        <label class="form-label">Item condition: </label>
        <input type="radio" name="age" value="new"/>New
        <input type="radio" name="age" value="Like New"/>Like New
        <input type="radio" name="age" value="Used"/>Used
    </div>
    <div>
        <label class="form-label">Upload image: </label>
        <input type="file" id="image" name="image"/>
        <input type="submit">
    </div>
    <div>
        <label class="form-label">Delete after: </label>
        <input type="file" id="image" name="image"/>
        <input type="submit">
    </div>
    <input type="submit" value="Create item" class="btn btn-primary"/>
</form>

{% endblock %}