{% extends 'base.template.html' %}

{% block title %}
Post Item
{% endblock %}

{% block content %}

<div class="container">
    <div class="my-5" id="post-form">
        <div class='row text-center'>
            <div class="col">
                <h1>Post Item</h1>
            </div>
        </div>

        <div class='row'>
            <div class="col">
                <form method="POST">

                    <div class='row'>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5><label class="form-check-label">Posted by</label></h5>
                                <input class="form-control {% if 'nickname' in errors %} is-invalid {% endif %}" type="text" name="nickname" placeholder="Enter nickname" value="{{ input_value.nickname }}"/>
                                {% if 'nickname' in errors %}
                                <div class="invalid-feedback">
                                    {{errors.nickname}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5><label class="form-check-label">Contact</label></h5>
                                <input class="form-control {% if 'email' in errors %} is-invalid {% endif %}" type="text" name="email" placeholder="Enter email" value="{{ input_value.email }}"/>
                                {% if 'email' in errors %}
                                <div class="invalid-feedback">
                                    {{errors.email}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5><label class="form-check-label">Item name </label></h5>
                        <input class="form-control {% if 'name' in errors %} is-invalid {% endif %}" type="text" name="item_name" placeholder="Enter item name" value="{{ input_value.item_name }}"/>
                        {% if 'name' in errors %}
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <h5><label class="form-check-label">Description </label></h5>
                        <textarea class="form-control {% if 'description' in errors %} is-invalid {% endif %}" row="3" name="description" placeholder="Enter item description (optional)" value="{{ input_value.description }}"></textarea>
                        {% if 'description' in errors %}
                        <div class="invalid-feedback">
                            {{errors.description}}
                        </div>
                        {% endif %}                            
                    </div>

                    <div class="form-group">
                        <h5><label class="form-label">Item type: </label></h5>
                        <select class="custom-select {% if 'item_type' in errors %} missing-field {% endif %}" name="item_type">
                            <option selected disabled>Please select</option>
                            <option value="Toys">Toys & Playthings</option>
                            <option value="Clothes">Clothes</option>
                            <option value="Maternity">Maternity (E.g. Pumps, Nursing pads)</option>
                            <option value="Accessories">Accessories (E.g. Strollers, Car seats)</option>
                            <option value="Others">Others</option>
                        </select>
                        {% if 'item_type' in errors %}
                        <div class="feedback-text">
                            {{errors.item_type}}
                        </div>
                        {% endif %} 
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5>Age Range:</h5>
                                <div class= "{% if 'age' in errors %} missing-field {% endif %}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="age" id="infant" value="Infant (Newborn - 1 year)"/>
                                        <label class="form-check-label" for="infant">Infant (Newborn - 1 year)</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="age" id="toddler" value="Toddler (1 - 2 years)"/>
                                        <label class="form-check-label" for="toddler">Toddler (1 - 2 years)</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="age" id="preschooler" value="Preschooler (2 - 5 years)"/>
                                        <label class="form-check-label" for="toddler">Preschooler (2 - 5 years)</label>
                                    </div>
                                </div>
                                {% if 'age' in errors %}
                                <div class="feedback-text">
                                    {{errors.age}}
                                </div>
                                {% endif %}   
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5>Item Condition</h5>
                                <div class= "{% if 'condition' in errors %} missing-field {% endif %}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="condition" id="new" value="New">
                                        <label class="form-check-label" for="new">New</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="condition" id="like-new" value="Like New">
                                        <label class="form-check-label" for="like-new">Like New</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="condition" id="used" value="Used">
                                        <label class="form-check-label" for="used">Used</label>
                                    </div>
                                </div>
                                {% if 'condition' in errors %}
                                <div class="feedback-text">
                                    {{errors.condition}}
                                </div>
                                {% endif %}  
                            </div>
                        </div>
                    </div>

                    <div class="input-group" hidden>
                        <h5>Upload Image</h5>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="imageAddon">Upload</span>
                        </div>
                        <div class="ml-1 custom-file">
                            <input type="file" class="custom-file-input" id="image">
                            <label class="custom-file-label" for="image">Choose file</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5><label class="form-label">Delete after: </label></h5>
                        <select class="custom-select {% if 'delete' in errors %} missing-field {% endif %}" name="delete_after">
                            <option disabled>Please select</option>
                            <option value="1 Week">1 Week</option>
                            <option selected value="1 Month">1 Month</option>
                            <option value="3 Months">3 Months</option>
                        </select>
                        {% if 'delete' in errors %}
                        <div class="feedback-text">
                            {{errors.delete}}
                        </div>
                        {% endif %} 
                    </div>

                    <input id="date" name="date" hidden>

                    <div class="form-group text-center">
                        <input type="submit" onclick="getDate()" value="Submit" class="btn bt"/>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

{% endblock %}