{% extends 'base.template.html' %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="container">
    <section class="mt-5">
        <div class="row justify-content-center text-center">
            <div class="col-6 frame">
                <h1>Become a Gifter</h1>
                <p>User Registration</p>
                <form class="mt-4">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control form-field" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-field" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-field" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn bt">Submit</button>
                </form>
            </div>
        </div>
    </section>
</div>



{% endblock %}