{% extends 'base.template.html' %}

{% block title %}
Delete Item
{% endblock %}

{% block content %}
{{item}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 frame my-5">
            <div class="my-3 text-center">
                <!-- <div class='row text-center'> -->
                    <div class="col">
                        <h1>Delete Item</h1>
                    </div>
                <!-- </div> -->

            {% for item in item %}
            <form method="POST">
                <div class="alert alert-danger">
                    <div class="my-3">
                        Are you sure you want to delete <b>"{{item.name}}"</b>?
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" value="Confirm delete"><i class="fa fa-check-circle"></i> Confirm </button>
                        <button class="btn btn-success"><a id="del-pg-cancel" href="{{ url_for('item_list') }}"><i class="fa fa-times-circle"></i> Cancel </a></button>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}